<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      <div class="header-title">
        <%= link_to "RELAXATION", root_path %>
      </div>
    </ul>
    <ul class='lists-right'>
      <li><%= link_to 'マイページ', "#", class: "my-page" %></li>
      <li><%= link_to 'ログアウト', "#", class: "log-out" %></li>
    </ul>
  </div>
</header>