body {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.header-main {
  font-size: 30px;
  padding: 30px auto;
  display: flex;
  text-align: center;
}

.enter {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

a {
  color:darkblue;
  text-decoration: none;
}

a:hover{
  color: white;
}

.dairy {
  font-size: 35px;
  color: #aa8f7b;
}


.log-out {
  text-align: center;
}

.log {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}

.btn {
  font-size: 40px;
}

.btn2 {
  font-size: 25px;
}

.display-4 {
  text-align: center;
}

.lead {
  text-align: center;
  font-size: 30px;
  color:#aa8f7b;
}

h2 {
  text-align: center;
  font-size: 35px;
  color: #aa8f7b;
  font-family: 'Noto Serif JP', serif;
}

.all {
  text-align: center;
  font-size: 30px;
}

.ko {
  display: none;
}

.top-name {
  font-size: 30px;
}
.footer-word {
  font-size: 30px;
}

.context {
  font-size: 30px;
  color:#aa8f7b;
}

.footer-word {
  color: #aa8f7b;
}

.field {
  color: #aa8f7b;
  font-size: 35px;
  font-family: 'Noto Serif JP', serif;
}

.field_top {
  width: 30%;
}

.field_content {
  width: 50%;
  height: 300px;
}

.field_buttom {
  margin-bottom: 30px;
}

.context {
  color:#aa8f7b;
}

.time {
  font-size: 30px;
  color:#aa8f7b;
}

.field-image {
  font-size: 20px;
}

.form_btn {
  font-size: 25px;
}

.header-content {
  text-align: center;
}