.main-header{
  display: flex;
  justify-content: space-between;
}

.left-header {
  padding: 40px 0 0 40px;
}

.right-header {
  padding: 40px 40px;
  list-style: none;
}

.title {
  font-size: 40px;
  color: #aa8f7b;
}

.my-page {
  color: #aa8f7b;
  text-decoration: none;
  font-size: 25px
}

.log-out {
  color: #aa8f7b;
  font-size: 30px;
  margin: 30px 30px;
}

.comment{
  font-size: 20px;
  color:coral;
  text-align: center;
}

.write {
  font-size: 40px;
  color:navy;
}

.form-group{
  text-align: center;
}

.container {
  text-align: center;
}

.main-1 {
  text-align: center;
  
}

.top-header {
  font-size: 20px;
}

.head-image {
  background-image: url("image10.jpg");
  background-size: cover;
  background-position: center center;
}

.tatami {
  font-size: 30px;
}

.top-message {
  color:blanchedalmond;
  font-size: 25px;
  font-family: 'Noto Serif JP', serif;
}

.user__wrapper {
  text-align: center;
}

.table {
  color:#aa8f7b;
  font-size: 25px;
}

.calender {
  font-size: 40px;
}

.back {
  font-size: 25px;
}

.footer-logo {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}

.content-memo {
  text-align: center;
}

.footer-link {
  text-align: center;
}

.meito {
  font-size: 40px;
  text-align: center;
}

.show-title {
  font-size: 25px;

}

.main-title {
  font-size: 40px;
}

.iida {
  margin-bottom: 30px ;
}


.table{
  border-collapse: collapse;
  margin: 32px 0 32px 20px;
  width: 50%;

}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #2b1010;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}

.page-phote {
  text-align: center;
}

.main-edit {
  text-align: center;
  font-size: 25px;
}

.footer-bottom {
  text-align: center;
  font-size: 25px;
  margin: 20px 0;
}

.content-memo {
  font-size: 30px;
  color: #aa8f7b;
}

.login-flash-message {
  font-size: 30px;
  text-align: center;
  color: #aa8f7b;
}

.error_message{
  color: #aa8f7b;
}

