
<body>


  <div class="main">
        <div class="title">
          <span>今</span>
          <span>日</span>
          <span>も</span>
          <span>１</span>
          <span>日</span>  
          <span>、</span>
          <span>本</span>
          <span>当</span>
          <span>に</span>
          <span>お</span>
          <span>疲</span>
          <span>れ</span>
          <span>さ</span>
          <span>ま</span>
          <span>で</span>
          <span>し</span>
          <span>た</span>
          <span>。</span>
        </div> 

      <% if user_signed_in? %>
        <div class="enter">
          <a href="#"><h2>Enter the Room</h2></a> 
        </div>
        <div class="log-out">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="under-l">
          <div class="log">
            <%= link_to "新規登録", new_user_registration_path %> /
            <%= link_to "ログイン", new_user_session_path %>
          </div>
        </div>
      <% end %>
  </div> 
  
  
</body>
</html>