
<body>

  <header>
    <p>ログイン</p>
  </header>


  <div class="main">
        <div class="title">
          <span>今</span>
          <span>日</span>
          <span>も</span>
          <span>１</span>
          <span>日</span>  
          <span>、</span>
          <span>本</span>
          <span>当</span>
          <span>に</span>
          <span>お</span>
          <span>疲</span>
          <span>れ</span>
          <span>さ</span>
          <span>ま</span>
          <span>で</span>
          <span>し</span>
          <span>た</span>
          <span>。</span>
        </div> 

        <div class="enter">
          <a href="#"><h2>Enter the Room</h2></a> 
        </div>
        <div class="under-l">
          <div class="log">
            <a href="#">ログイン</a>/
            <a href="#">アカウント登録</a>
          </div>
        </div>
  </div> 
  
  
</body>
</html>