.header-name {
  font-size: 30px;
  text-align: center;
  padding: 30px 0 0 0;
  color: #aa8f7b;
  font-family: 'Noto Serif JP', serif;
}

.all_diary {
  font-size: 30px;
  color: blue;
  text-align: center;
}

.user-main {
  background-image: url("image11.jpg");
  background-size: cover;
  height: 100% ;
  width: 100% ;
  background-position: center;
  margin: 0;
  padding: 0;
}

.back-btn {
  text-align: center;
  padding: 30px;
}